@model AgendaContatosWeb.ViewModels.NovoContatoViewModel
@{
    ViewBag.Title = "NovoContato";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string msgErroViewBag = string.Empty;
    string msgErroViewData = string.Empty;
    string msgErroTempData = string.Empty;
    string msgErroViewModel = string.Empty;

    if(null != ViewBag.Error)
    {
        msgErroViewBag = ViewBag.Error;
    }

    if(null != ViewData["Error"])
    {
        msgErroViewData = ViewData["Erro"].ToString();
    }

    if(null != TempData["Erro"])
    {
        msgErroTempData = TempData["Erro"].ToString();
    }

    if(null != Model)
    {
        msgErroViewModel = Model.msgErro;
    }
}

@Styles.Render("~/Assets/css/_novoContato.css")
<div id="novoContato">
    <h2>Novo Contato</h2>
    <div>
        <form id="frmNovoContato" method="POST" action="@Url.Action("GravarNovoContato","Contato")">

            <div>
                <label>Nome:</label>
                <input type="text" placeholder="Nome" name="Nome" value="@(null != Model ? Model.Nome : "" )" />
            </div>
            <div>
                <label>Telefone:</label>
                <input type="number" placeholder="Telefone" name="Telefone" value="@(null != Model ? Model.Telefone : null )" />
            </div>
            <div>
                <label>Email:</label>
                <input type="email" placeholder="Email" name="Email" value="@(null != Model ? Model.Email : "" )" />
            </div>
            <div>
                <input type="submit" value="Gravar" />
                <input type="reset" value="Limpar" />
            </div>
        </form>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/contato.js")
}